body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
background: #5757c4;
margin: 0;
padding: 15px;
text-align: center;

}

nav li a{
    color: azure;
    text-decoration: none;
    
}
nav li {
    padding: 0 20px;
    display: inline-block;
}